body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "微软雅黑";
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}

.mall-title {
  text-align: center;
  font-size: 28px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.mall-title {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  -margin: 0 15%;
}

.mall-sub-title {
  text-align: center;
  color: #888;
  font-size: 12px;
}

.mall-header {
	background: #2eb5a9;
  	padding: 6px 0;
  	height: 40px; 
}

.mall-content-padded {
  padding: 15px;
}

.mall-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.mall-back{
  position: absolute;
  top: 0; 
  left: 0;
  padding: 10px;
}

.mall-login{
	position: absolute;
	top: 0; 
	right: 0;
  padding: 12px;
}
.mall-login img, .mall-back img{
  width: 26px;
}

/* 商品列表页 */
/* 九宫格 比例改变 */
.weui_grid{
  width: 46%;
  height: 270px;
  margin:2%;
  border: 1px solid #ddd;
}

.weui_grid img{
  width: 100%;
}

.weui_grid_icon{
  width: 100%; 
  height: 140px;
}

.mall_grid_title{
  color: #333333;
  font-size: 16px;
  text-align: center;
  height: 30px;
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
}

.mall_grid_info{
  font-size: 14px;
  color: #404040;
  height: 45px;
  overflow:hidden; 
  text-overflow:ellipsis;
  margin-bottom: 2px;
}

.mall_grid_price{
  color: #ED185E;
  font-size: 15px;
}

.mall_grid_price span{
  margin-right: 8px;
}

.mall_grid_price span:last-child{
  font-size: 16px;
}


/* 商品详情页 */
.item_detail{}
.item_img{ 
  height: 200px;
  margin: 0 auto;
  display: block;  
}
.item_detail .weui_cell_bd{
  color: #ED145B;
}
.description{
  padding: 20px;
}
.item_info{}
.item_info img{
  width: 100%;
}


/* phone */
.mall_phone{ margin-top: 200px;}

/* 个人中心页 */
.mall_area{  }
.mall_headpic{ width: 140px; height: 140px; margin:0 auto; border-radius: 50%; overflow: hidden; }
.mall_headpic img{ width: 100%; }
.mall_cell_bd{ text-align: left; text-indent: 1em; }

/* 登录页面 */
button.weui_btn, input.weui_btn{ width: 80%;}


body {
  font-family: '微软雅黑';
  overflow: scroll;
}
h1 {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: '微软雅黑';
}
h3,h4 {
  color: #d2d2d2;
  font-family: '微软雅黑',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 .view_github {
  display: block;
  font-size:  14px;
  line-height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  border-radius:0;

}
h1 .view_github:hover,h1 .view_code:hover {
  background-color: #f5f5f5;
}

h1 .view_code {
  display: block;
  font-size:  14px;
  line-height: 30px;
  position: absolute;
  right: 225px;
  bottom: 0;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  border-radius:0;
  height: 45px;
}
.col-md-12.no-padding {
  padding-left:0;
  padding-right:0;
}
.info {
  position: relative;
  height: 100%;
}
tr .progress{
  width: 96%;
  display: inline-block;
}
tr .progress-bar {
  min-height: 20px;
  float: none;
}
tr .progress, tr .progress div {
  height: 20px;
}

tr .progress .chunk-status {
  position: absolute;
  left: 24px;
  top: 0;
}
tr .progressCancel{
  display: inline-block;
  float: right;
  position: relative;
  z-index: 100;
  color: #333;
  text-decoration: none;
}
.status {
  position: absolute;
  width: 100%;
  top:0;
  left: 24px;
}
.tip {
  padding-left: 30px;
}
.tip p {
  line-height: 1;
}
#container {
  margin-bottom: 20px;
  border-width: 2px;
  border-radius: 3px;
  border-color: #dcdcdc;
  cursor: default;
}
#container:hover,#container:active  {
  background-color:#fff;
  border-color: #dcdcdc;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#container.draging {
  background-color:#fff;
  border-color:#999999;
}
#success {
  line-height: 30px;
  height: 30px;
  margin:20px 0 0 0;
}
#success div {
  padding-left: 24px;
}
#container a {
  width: 15%;
  min-width: 145px;


}

button {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
td .Wrapper {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
}
td .Wrapper .infoWrapper{
  width:50%;
  height:100px;
  margin-left: 10px;
  text-align: left;
  line-height: 25px;
}
td .Wrapper .infoWrapper a:first-child{
  margin-right: 10px;
}
td .Wrapper.default {
  margin-top: 20px;
  text-align: left;
}
td .Wrapper.default img{
  width:100px;
  height:100px;
}
td .imgWrapper {
  position: relative;
  width:100px;
  height: 100px;
}
td .imgWrapper .linkWrapper {
  position: absolute;
  left: 15px;
  top: 0;
  width:100px;
  height: 100px;
  cursor: pointer;
}
td .imgWrapper .linkWrapper a{
  line-height: 50px;

}
table td .hash {
  margin-bottom: 20px;
}
pre  {
  margin-top: 20px;
}

.container .modal-dialog {
  width: 45%;
}
.container .modal-dialog .modal-content {
  max-height: 90%;
}
.container .modal-dialog  .modal-body img{
  max-width: 95%;
  max-height: 70%;
}
.container .modal-body-footer , .container .modal-body-footer div{
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .modal-dialog .modal-body-footer  {
  margin-top: 0px;
}
.container .modal-dialog .modal-body-footer span {
  margin-right: 20px;
}
.container .modal-dialog .modal-body-footer .text-warning,.container .modal-dialog .modal-footer span ,.container .modal-dialog .modal-footer a{
  font-size: 12px;
}
.body .btn-default {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
.body .btn-default:hover,.body .btn-default:active,.body .btn-default:focus ,.no-padding button:hover,.no-padding button:active,.no-padding button:focus{
  border-color: #bebebe;
  text-decoration: none;
  background-color: #fff;
  color: #262626;
  outline: none;
  -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
}

a {
  cursor: pointer;
}

